.Navbar{
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0.1rem 1rem;
      background-color: #158a88;
      z-index: 50;
      display: flex;
      justify-content: space-between;
      align-items: center;
}